{
  "extends": [
    "eslint-config-prettier"
  ],
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off"
  }
}
