{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 8,
  "trailingComma": "es5",
  "printWidth": 100,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
